<p id="notice"><%= notice %></p>

<center><h1  style="color:PaleVioletRed;font-family:Times New Roman; font-size: 80px">Our Users</h1>
</center>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dob</th>
      <th>Picture</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
          <% if user_signed_in? %>
        <td><%= user.name %></td>
        <% else %>
        <td><%= user.name %></td>
        <%  end %>
        <td><%= user.dob %></td>
      <td>  <%=  image_tag user.picture.thumb.url  %> </td>

        <td><%= user.gender %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <!-- <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
