<p id="notice"><%= notice %></p>
<center>
<p>
  <strong style="color:PaleVioletRed;font-family:Times New Roman; font-size: 30px">Content:</strong>
  <%= @lecture.content %>
</p>

<p>
  <strong style="color:PaleVioletRed;font-family:Times New Roman; font-size: 30px">Attachment:</strong>
  <%= @lecture.attachment %>
</p>

<p>
  <strong style="color:PaleVioletRed;font-family:Times New Roman; font-size: 30px">Course:</strong>
  <%= @lecture.course.title %>
</p>



<% if current_user.try(:name) ==@lecture.course.user.try(:name) %>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
<% else %>
<%= link_to 'Back', lectures_path %>
<% end %>
<br>

<%= link_to like_lecture_path(@lecture), method: :put do %>
  Like
  <%= @lecture.get_upvotes.size %>
<% end %> |

<%= link_to dislike_lecture_path(@lecture), method: :put do %>
  Unlike
  <%= @lecture.get_downvotes.size %>
<% end %>

<br>
<%= link_to spam_lecture_path(@lecture), method: :put do %>
  Spam
  <%= @lecture.get_upvotes.size %>
<% end %> |

<%= link_to unspam_lecture_path(@lecture), method: :put do %>
  Unspam
  <%= @lecture.get_downvotes.size %>
<% end %>
<br>
<% if current_user %>
<% unless current_user.lectures.include?(@lecture) %>
<td><%= link_to 'Add_to_fav', add_to_fav_lecture_path(@lecture), method: :put %></td>

<% else %>
<td><%= link_to 'Remove_from_fav', delete_from_fav_lecture_path(@lecture), method: :delete %></td>


<% end %>
<% end %>
<br>
<%= render'comments/comment' %>

</center>
